# Ignore build output under target
target/*

# Re-include the release directory itself
!target/release/

# Ignore everything inside release
target/release/*
# Re-include the one binary we want
!target/release/rocketRust

# Let's no keep updating Vendor as we are sticking with a pre-compile binary approach during development
vendor/

# Local secrets
.env

# macOS junk
.DS_Store
**/.DS_Store