# Ignore everything under target/
target/**
.env

# BUT allow this directory
!target/
!target/release/
!target/release/rocketRust

# Ignore all other build artefacts inside release/
target/release/*.d
target/release/*.rlib
target/release/*.rmeta
target/release/deps/
target/release/build/

# Let's no keep updating Vendor as we are sticking with a pre-compile binary approach during development
vendor/

# macOS junk
.DS_Store
**/.DS_Store